<div class="col-3 p-user-left-side-bar text-center d-none d-lg-block">
  <div>
    <%= image_tag current_user.user_profile.avatar, class: "p-trade__avatar" %>
  </div>
  <div class="mt-2 p-user-left-side-bar__user-name">
    <%= current_user.user_profile.nickname %>
  </div>
  <hr>
  <div class="text-left">
    <p>トレード</p>
  </div>
  <div class="text-center">
    <div>
      <%= link_to "トレード一覧", user_trades_path %>
    </div>
    <div>
      <%= link_to "トレードを記録する", new_user_trade_path %>
    </div>
  </div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>