<div>
  <p class="font-weight-bold m-0">全体勝率</p>
  <div class="text-right mr-xl-4 p-win-rate__list">
    <% if @fx.search_user_fx_trades.present? %>
      <span @click="toggleDisplayWinRate(0)">Fx</span>
    <% end %>
    <% if @stock.search_user_stock_trades.present? %>
      <span @click="toggleDisplayWinRate(1)">株</span>
    <% end %>
    <% if @virtual_currency.search_user_virtual_currency_trades.present? %>
      <span @click="toggleDisplayWinRate(2)">仮想通貨</span>
    <% end %>
  </div>
</div>
<% if @fx.search_user_fx_trades.present? %>
  <div class="d-none" :class="{ 'd-block' : displayWinRate[0] }">
    <p class="m-0">FX トレード数 <%= @fx.search_user_fx_trades.count %></p>
    <table>
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャルピング</th>
      </tr>

      <tr>
        <td><%= @fx.total_win_rate %></td>
        <td><%= @fx.trade_style_win_rate(1) %></td>
        <td><%= @fx.trade_style_win_rate(2) %></td>
        <td><%= @fx.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  </div>
<% end %>

<% if @stock.search_user_stock_trades.present? %>
  <div class="d-none" :class="{ 'd-block' : displayWinRate[1] }">
    <p class="m-0 mt-4">株 トレード数 <%= @stock.search_user_stock_trades.count %></p>
    <table>
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャルピング</th>
      </tr>

      <tr>
        <td><%= @stock.total_win_rate %></td>
        <td><%= @stock.trade_style_win_rate(1) %></td>
        <td><%= @stock.trade_style_win_rate(2) %></td>
        <td><%= @stock.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  </div>
<% end %>

<% if @virtual_currency.search_user_virtual_currency_trades.present? %>
  <div class="d-none" :class="{ 'd-block' : displayWinRate[2] }">
    <p class="m-0  mt-4">仮想通貨 トレード数 <%= @virtual_currency.search_user_virtual_currency_trades.count %></p>
    <table>
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャルピング</th>
      </tr>

      <tr>
        <td><%= @virtual_currency.total_win_rate %></td>
        <td><%= @virtual_currency.trade_style_win_rate(1) %></td>
        <td><%= @virtual_currency.trade_style_win_rate(2) %></td>
        <td><%= @virtual_currency.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  </div>
<% end %>