<div class="row p-win-rate">
  <div class="col-12 p-trade mt-4 mt-sm-5">
     <div class="row">
      <%= render "shared/user/left_side_bar" %>
      <div class="col-12 col-lg-9 p-win-rate__table">
        <p class="font-weight-bold">勝率</p>
        <p class="m-0">FX トレード数 <%= @fx.search_user_fx_trades.count %></p>
        <table>
          <tr>
            <th>全体</th>
            <th>デイ</th>
            <th>スイング</th>
            <th>スキャルピング</th>
          </tr>

          <tr>
            <td><%= @fx.fx_win_rate %></td>
            <td><%= @fx.fx_day_trade_win_rate %></td>
            <td><%= @fx.fx_swing_trade_win_rate %></td>
            <td><%= @fx.fx_scalping_trades_win_rate %></td>
          </tr>

        </table>

        <p class="m-0 mt-4">株 トレード数 <%= @stock.search_user_stock_trades.count %></p>
        <table>
          <tr>
            <th>全体</th>
            <th>デイ</th>
            <th>スイング</th>
            <th>スキャルピング</th>
          </tr>

          <tr>
            <td><%= @stock.stock_win_rate %></td>
            <td><%= @stock.stock_day_trade_win_rate %></td>
            <td><%= @stock.stock_swing_trade_win_rate %></td>
            <td><%= @stock.stock_scalping_trades_win_rate %></td>
          </tr>

        </table>

        <p class="m-0  mt-4">仮想通貨 トレード数 <%= @virtual_currency.search_user_virtual_currency_trades.count %></p>
        <table>
          <tr>
            <th>全体</th>
            <th>デイ</th>
            <th>スイング</th>
            <th>スキャルピング</th>
          </tr>

          <tr>
            <td><%= @virtual_currency.virtual_currency_win_rate %></td>
            <td><%= @virtual_currency.virtual_currency_day_trade_win_rate %></td>
            <td><%= @virtual_currency.virtual_currency_swing_trade_win_rate %></td>
            <td><%= @virtual_currency.virtual_currency_scalping_trades_win_rate %></td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>