<div class="col-11 mb-5 mx-auto">
  <%= form_with model: @trade_search_form, url: user_trades_path, method: :get, local: true do |f| %>
    <div class="row l-search-box">
      <% f.hidden_field :user_id, value: current_user.id %>
      <div class="col-12 form-group l-search-box__header">
        <div class="l-search-box__header-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="l-search-box__header-text">トレードを検索する</div>
      </div>

      <div class="col-6 form-group">
        <%= f.label :trade_category_id, "カテゴリー" %>
        <%= f.collection_select :trade_category_id, TradeCategory.select(:id, :name), :id, :name, {include_blank: "カテゴリー"}, {class:"custom-select"} %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :trade_style_id, "スタイル" %>
        <%= f.collection_select :trade_style_id, TradeStyle.select(:id, :name), :id, :name, {include_blank: "スタイル"}, {class:"custom-select"} %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :min_pips, "Min Pips" %>
        <%= f.text_field :min_pips, class:"form-control", placeholder: "Min Pips" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :max_pips, "Max Pips" %>
        <%= f.text_field :max_pips, class:"form-control", placeholder: "Max Pips" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :min_entry_time, "エントリー ( from )" %>
        <%= f.text_field :min_entry_time, type: "date", class:"form-control" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :max_entry_time, "エントリー ( to )" %>
        <%= f.text_field :max_entry_time, type: "date", class:"form-control" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :min_exit_time, "決済  ( from )" %>
        <%= f.text_field :min_exit_time, type: "date", class:"form-control" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label :max_exit_time, "決済 ( to )" %>
        <%= f.text_field :max_exit_time, type: "date", class:"form-control" %>
      </div>

      <div class="col-6 form-group">
        <%= f.label  :result, "結果" %>
        <%= f.select :result, Trade.results.keys , {include_blank: "結果"}, class:"custom-select" %>
      </div>

      <div class="col-sm-3 form-group mt-2">
        <%= f.label " ", class: "d-none d-sm-inline-block" %>
        <%= f.submit "検索する", class: "btn c-devise-form__submit-btn" %>
      </div>

      <div class="col-sm-3 form-group mt-2">
        <%= f.label " ", class: "d-none d-sm-inline-block" %>
        <%= link_to "リセット", user_trades_path, class: "btn p-trade__card__delete-btn bg-white" %>
      </div>

    </div>
  <% end %>
</div>