<div class="col-12">
  <div>
    <p class="font-weight-bold m-0">全体勝率</p>
  </div>
  <% if @fx.user_trades.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0 mr-5">Fx トレード数 <%= @fx.user_trades.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[0]" @click="toggleDisplayWinRate(0)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(0)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[0] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @fx.total_win_rate %></td>
        <td><%= @fx.trade_style_win_rate(1) %></td>
        <td><%= @fx.trade_style_win_rate(2) %></td>
        <td><%= @fx.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  <% end %>

  <% if @stock.user_trades.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0 mr-5">株 トレード数 <%= @stock.user_trades.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[1]" @click="toggleDisplayWinRate(1)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(1)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[1] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @stock.total_win_rate %></td>
        <td><%= @stock.trade_style_win_rate(1) %></td>
        <td><%= @stock.trade_style_win_rate(2) %></td>
        <td><%= @stock.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  <% end %>

  <% if @virtual_currency.user_trades.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0">仮想通貨 トレード数 <%= @virtual_currency.user_trades.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[2]" @click="toggleDisplayWinRate(2)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(2)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[2] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @virtual_currency.total_win_rate %></td>
        <td><%= @virtual_currency.trade_style_win_rate(1) %></td>
        <td><%= @virtual_currency.trade_style_win_rate(2) %></td>
        <td><%= @virtual_currency.trade_style_win_rate(3) %></td>
      </tr>

    </table>
  <% end %>
</div>