<div class="col-12">
  <div class="mt-5 d-md-flex justify-content-between">
    <p class="font-weight-bold mb-3 m-0">年内勝率</p>
    <%= form_with model: [:user, @fx], url: user_trade_win_rates_path, method: :get, local: true do |f| %>
      <div class="d-flex form-group">
        <%= f.number_field :year, class: "form-control" %>
        <%= f.submit "この年で検索", class: "btn c-devise-form__submit-btn ml-3" %>
        <%= link_to "リセット", user_trade_win_rates_path, class: "btn p-trade__card__delete-btn bg-black text-white ml-3" %>
      </div>
    <% end %>
  </div>
  <% if @fx.user_trades_in_year.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0 mr-5">Fx トレード数 <%= @fx.user_trades_in_year.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[0]" @click="toggleDisplayWinRate(0)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(0)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[0] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @fx.total_win_rate_in_year %></td>
        <td><%= @fx.trade_style_win_rate_in_year(1) %></td>
        <td><%= @fx.trade_style_win_rate_in_year(2) %></td>
        <td><%= @fx.trade_style_win_rate_in_year(3) %></td>
      </tr>

    </table>
  <% end %>

  <% if @stock.user_trades_in_year.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0 mr-5">株 トレード数 <%= @stock.user_trades_in_year.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[1]" @click="toggleDisplayWinRate(1)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(1)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[1] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @stock.total_win_rate_in_year %></td>
        <td><%= @stock.trade_style_win_rate_in_year(1) %></td>
        <td><%= @stock.trade_style_win_rate_in_year(2) %></td>
        <td><%= @stock.trade_style_win_rate_in_year(3) %></td>
      </tr>

    </table>
  <% end %>

  <% if @virtual_currency.user_trades_in_year.present? %>
    <div class="d-flex justify-content-between mt-3">
      <p class="m-0">仮想通貨 トレード数 <%= @virtual_currency.user_trades_in_year.count %></p>
      <p class="m-0 ml-5">
        <span v-if="displayWinRate[2]" @click="toggleDisplayWinRate(2)">
          非表示
        </span>
        <span v-else @click="toggleDisplayWinRate(2)">
          表示
        </span>
      </p>
    </div>
    <table class="d-none" :class="{ 'd-block' : displayWinRate[2] }">
      <tr>
        <th>全体</th>
        <th>デイ</th>
        <th>スイング</th>
        <th>スキャル</th>
      </tr>

      <tr>
        <td><%= @virtual_currency.total_win_rate_in_year %></td>
        <td><%= @virtual_currency.trade_style_win_rate_in_year(1) %></td>
        <td><%= @virtual_currency.trade_style_win_rate_in_year(2) %></td>
        <td><%= @virtual_currency.trade_style_win_rate_in_year(3) %></td>
      </tr>

    </table>
  <% end %>
</div>