<div class="row p-win-rate" id="win_rate">
  <div class="col-12 p-trade mt-4 mt-sm-5">
     <div class="row">
      <%= render "shared/user/left_side_bar" %>
      <div class="col-12 col-lg-9 p-win-rate__table">
        <%= render "total_win_rate" %>
        <%= render "year_win_rate" %>
        <%= render "month_win_rate" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_packs_with_chunks_tag 'user/win_rate' %>