<div class="l-devise-form">
  <div class="container">
    <div class="row">
      <div class="col-8 col-sm-6 col-md-5 col-lg-4 text-center mx-auto">
        <div class="l-devise-form__wrapper">
          <h3 class="mb-4">新規登録</h3>
          <div class="form-group">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@gmail.com" %>
              </div>

              <div class="field  mb-3">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード(6文字以上)" %>
              </div>

              <div class="field mb-3">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "同じパスワードを入力" %>
              </div>

              <div class="actions">
                <%= f.submit "新規登録", class: "btn l-devise-form__submit" %>
              </div>
            <% end %>
          </div>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
